<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsumerKey</key>
	<string>FM1XEI7hHXbl-YaD2BBdWA</string>
	<key>ConsumerSecret</key>
	<string>upI6ohATV__j6elDVS-3J8Glj20</string>
	<key>Token</key>
	<string>anTSrDYhMj5rZWOxHy2EqvL4shXOLiWY</string>
	<key>TokenSecret</key>
	<string>hucAwsCAPx9O41fginpRzWFX3K0</string>
</dict>
</plist>
