<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsumerKey</key>
	<string>8SW4Une68aTlchcfOmFSRA</string>
	<key>ConsumerSecret</key>
	<string>_j_-Oac6Qr2XjUI0edxfbK0P4k4</string>
	<key>Token</key>
	<string>nGNX4na1-yDzB5ijJU_g0JOrRz6--vD1</string>
	<key>TokenSecret</key>
	<string>ncgVE_EtJsSpcNsVLuaWQ77QENw</string>
</dict>
</plist>
